@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "kalpurush";
    src: url("../../public/frontend/fonts/kalpurush.ttf");
  }

@font-face {
    font-family: "bangla";
    src: url("../../public/frontend/fonts/SutonnyMJ_Regular.ttf");
  }